body {
  margin: 0;
  width: 93vw;
  height: 100vh;
  padding: 3% 3% 7% 4%;
  overflow: hidden;
  background-color: #222831;
  font-family: 'Audiowide', sans-serif, serif, cursive;
}

.header {
  width: 300px;
  margin: 0 auto 20px auto;
  color: #bbbfca;
}

.main-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  grid-gap: 40px;
  height: 70vh;
}

.main-section .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 40px;
  background: linear-gradient(145deg, #1f242c, #242b34);
  -webkit-box-shadow: 12px 12px 25px #1a1e25, -12px -12px 25px #2a323d;
          box-shadow: 12px 12px 25px #1a1e25, -12px -12px 25px #2a323d;
}

.main-section .left .btn {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #bbbfca;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  border-radius: 20px;
  background: linear-gradient(145deg, #242b34, #1f242c);
  -webkit-box-shadow: 9px 9px 15px #1a1e25, -9px -9px 15px #2a323d;
          box-shadow: 9px 9px 15px #1a1e25, -9px -9px 15px #2a323d;
}

.main-section .left .btn:active {
  border-radius: 20px;
  background: linear-gradient(145deg, #242b34, #1a212b, #242b34);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: inset(9px 9px 10px #353c49, -9px -9px 10px #323b47);
          box-shadow: inset(9px 9px 10px #353c49, -9px -9px 10px #323b47);
}

.main-section .left .clock {
  height: 150px;
  width: 150px;
  font-size: 20px;
  color: #bbbfca;
  border: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #1f242c, #242b34);
  -webkit-box-shadow: 9px 9px 15px #1a1e25, -9px -9px 15px #2a323d;
          box-shadow: 9px 9px 15px #1a1e25, -9px -9px 15px #2a323d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-section .left .clock .timer {
  font-size: 30px;
}

.main-section .left .errors {
  height: 80px;
  width: 150px;
  color: #bbbfca;
  font-size: 20px;
  border-radius: 20px;
  background: linear-gradient(145deg, #1f242c, #242b34);
  -webkit-box-shadow: 9px 9px 15px #1a1e25, -9px -9px 15px #2a323d;
          box-shadow: 9px 9px 15px #1a1e25, -9px -9px 15px #2a323d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .left .errors #error-val {
  color: #f05454;
  margin-left: 10px;
}

.main-section .right {
  border-radius: 40px;
  background: #222831;
  -webkit-box-shadow: -17px -17px 34px #2c3541a1, 17px 17px 34px #1c2027;
          box-shadow: -17px -17px 34px #2c3541a1, 17px 17px 34px #1c2027;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-section .right .paragraph {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 30px 100px;
}

.main-section .right .paragraph .content {
  font-size: 30px;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.main-section .right .paragraph .content .typing {
  display: inline-block;
  color: #f4f4f2cb;
}

.main-section .right .paragraph .content .typed {
  color: #34626c;
}

.main-section .right .paragraph .content .wrong {
  color: #f05454;
}

.main-section .right #input-content {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  color: transparent;
  background-color: none;
}

.main-section .right .keyboard {
  width: 80%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section .right .keyboard .top, .main-section .right .keyboard .middle, .main-section .right .keyboard .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .right .keyboard .key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  font-size: 25px;
  color: #9ba4b4;
  border-radius: 5px;
  background: #202227;
  -webkit-box-shadow: 5px 5px 15px #1a1e25, -5px -5px 15px #2a323d;
          box-shadow: 5px 5px 15px #1a1e25, -5px -5px 15px #2a323d;
  margin: 5px 10px;
}

.main-section .right .keyboard .pressed {
  background: #1b1c20;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #41454d;
}
/*# sourceMappingURL=style.css.map */